.in-person {
  background-color: #ffcc80;
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 600;
  color: #e65100;
}

.online {
  background-color: #c8e6c9;
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 600;
  color: #0080FF;
}

.offline {
  background-color: #E6B591;
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 600;
  color: #8000FF;
}

img[src="banner.png"] {
  width: 50%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}